.custom-ui{
    text-align: center;
    width: 500px;
    padding: 40px;
    background-color: #28bae6;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
    color: #fff;

    h1{
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    button{
       width: 160px;
       padding: 10px;
       border: 1px solid #fff;
       margin: 10px;
       cursor: pointer;
       background: none;
       color: #fff;
       font-size: 14px;
    }
}