.userDetail {
    display: flex;
    width: 100%;

    .sideBarContainer {
        flex: 1
    }

    .newContainer {
        flex: 4;

        .loading{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .top {
            margin: 20px;

            .goBackButton {
                height: 10px;
                width: 10%;
                padding: 15px;
                border: none;
                background-color: rgb(0, 225, 255);
                color: white;
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }

        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;
            display: flex;
            gap: 20px;
            align-items: center;


            .left {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .right {
                flex: 3;

                .detailContainer {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;


                    .formInput{
                        width: 40%;

                        p {
                            width: 100%;
                            padding: 5px;
                            border-bottom: 1px solid gray;
                            word-wrap: break-word;

                        }

                        button {
                            width: 100%;
                            padding: 10px;
                            border: none;
                            background-color: #37a2fa;
                            color: white;
                            font-weight: bold;
                            cursor: pointer;
                            border-radius: 5px;
                            margin-top: 10px;
    
                        }
                    }

                    .GroupDetail {
                        width: 90%;

                        .groupMember {
                            margin-top: 10px;
                            width: 103%;
                            padding: 5px;
                            border-bottom: 1px solid gray;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }

                        .deleteIcon{
                            color: #de4949;
                            cursor: pointer;
                        }
                    }

                    .mapContainer{
                        width: 85%;

                        .mapLabel{
                            display: block;
                        }

                        .map{
                            height: 400px;
                            width: 100%;
                            border: none;
                        }
 
                    }

                    .imageContainer{
                        width: 85%;
                        height: 500px;
                        margin-bottom: 40px;

                        img {
                            overflow: hidden;
                        }
                    }

                    .loading{
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        margin-bottom: 20px;

                    }

                    button {
                        width: 85%;
                        padding: 10px;
                        border: none;
                        background-color: #de4949;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        border-radius: 5px;
                        margin-top: 20px;
                        margin-bottom: 20px;

                    }
                }
            }

        }

        .expandListContainer{
            
            .header{
                background-color: #03c6fc;
                color: white;
                padding: 5px;
                margin: 20px;

            }

            .content{

                .number, .emptyText{
                    margin-left: 20px;
                }

                .emptyText{
                    margin-bottom: 20px;
                }

            }

        }
    }


}